# BentleyBridge - ukljucuje ga ETAZIRANJE_RAZVOJ.cfg
# Kanonski AddIn: C:/AITools/BentleyBridge/runtime/current/BRIDGE_RUN.dll
MS_ADDINPATH > C:/AITools/BentleyBridge/runtime/current/

# CEKA POTVRDU PRVIM PROTOTIPOM:
# vrijednost mora odgovarati stvarnom Bentley MdlTaskID-u AddIna.
MS_DGNAPPS > BRIDGE_RUN
